{% macro folder_item(folder_) %}
<div class="my-1">
	<a class="heading" href="{{ url_for('folders.folder', name=folder_.name) }}">
		<span><i class="bi bi-folder"></i> {{ folder_.name }}</span>
		<span class="float-end badge-custom">{{ folder_.notes | length }}</span>
	</a>
</div>
{% endmacro %}

{% macro note_item(note_, id) %}
<div class="col-xl-4">
	<div class="rounded mb-4 p-3" style="border: 1px solid;">
		<div class="text-truncate">
			<a class="text-warning me-1" href="{{ url_for('notes.toggle_favorite', folder=note_.folder.name, name=note_.name) }}"><i class="bi bi-star{% if note_.favorited %}-fill{% endif %}"></i></a>
			<a title="{{ note_.stem }}" href="{{ url_for('notes.note', folder=note_.folder.name, name=note_.name) }}">{{ note_.stem }}</a>
		</div>
		<div class="my-2">
			<small class="text-muted"><i class="bi bi-pen"></i> {{ note_.last_modified.strftime("%B %-d, %Y @ %-I:%M %p") }}</small><br>
			<small class="text-muted"><i class="bi bi-plus"></i> {{ note_.date_created.strftime("%B %-d, %Y @ %-I:%M %p") }}</small>
		</div>
		<div class="mt-3">
			<a class="small fst-italic text-muted" href="{{ url_for('folders.folder', name=note_.folder.name) }}"><i class="bi bi-folder me-1"></i> {{ note_.folder.name }}</a>
			<span class="float-end text-danger">
				<a style="display: none;" id="delete{{ id }}" onclick="deleteNote('{{ note_.folder.name }}', '{{ note_.name }}') ">Delete?</a>
				<a onclick="toggleDiv('delete' + {{ id }})"><i class="bi bi-trash2"></i></a>
			</span>
		</div>
	</div>
</div>
{% endmacro %}

{% macro note_options(note_) %}
<div>
	<form method="POST" action="{{ url_for('notes.rename_note', folder=note_.folder.name, name=note_.name) }}">
		<input onchange="this.form.submit()" type="text" name="name" autocomplete="off" class="form-control form-control-hidden fs-3 mb-1" value="{{ note_.stem }}" required>
		<div class="input-group mb-1">
			<a href="{{ url_for('folders.folder', name=note_.folder.name) }}" class="btn btn-sm" style="color: inherit;"><i class="bi bi-folder"></i></a>
			<select onchange="this.form.submit()" name="folder" class="form-control form-control-hidden">
				{% for i in folders %}
				<option value="{{ i.name }}" {% if i.name == note_.folder.name %}selected{% endif %}>{{ i.name }}</option>
				{% endfor %}
			</select>
		</div>
	</form>
	<div class="btn-group btn-group-sm py-2">
		<a onclick="getMarkdown('{{ note_.folder.name }}', '{{ note_.name }}')" id="viewMode" style="display: none;" class="btn text-secondary"><i class="bi bi-eye"></i> View</a>
		<a onclick="getText('{{ note_.folder.name }}', '{{ note_.name }}')" id="editMode" class="btn text-secondary"><i class="bi bi-pen"></i> Edit</a>
		<a onclick="toggleFavorite('{{ note_.folder.name }}', '{{ note_.name }}')" class="btn btn-outline-warning {% if note_.favorited %}active{% endif %}"><i class="bi bi-star"></i> Favorite{% if note_.favorited %}d{% endif %}</a>
		<a onclick="toggleDiv('deleteNote')" class="btn btn-outline-danger"><i class="bi bi-trash2"></i> Delete</a>
		<a style="display: none;" id="deleteNote" href="{{ url_for('notes.delete_note', folder=note_.folder.name, name=note_.name) }}" class="btn text-danger">Delete?</a>
	</div>
</div>
{% endmacro %}

{% macro folder_options(folder_) %}
<form method="POST" action="{{ url_for('folders.rename_folder', name=folder_.name) }}">
	<input onchange="this.form.submit()" type="text" name="name" autocomplete="off" class="form-control form-control-hidden fs-3 mb-1" value="{{ folder_.name }}" required>
	<span class="text-danger">
		<a onclick="toggleDiv('deleteFolder')" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash2"></i> Delete</a>
		<a href="{{ url_for('folders.delete_folder', name=folder_.name) }}" id="deleteFolder" style="display: none;">Delete?</a>
	</span>
</form>
{% endmacro %}

{% macro sorter() %}
<div class="btn-group btn-group-sm">
	{% if sort != 'last_modified' %}<a class="btn btn-outline-secondary" href="{{ url_for('index', sort='last_modified') }}">Last Modified</a>{% endif %}
	{% if sort != 'date_created' %}<a class="btn btn-outline-secondary" href="{{ url_for('index', sort='date_created') }}">Date Created</a>{% endif %}
	{% if sort != 'name' %}<a class="btn btn-outline-secondary" href="{{ url_for('index', sort='name', reverse='False') }}">Name</a>{% endif %}
</div>
{% endmacro %}

{% macro folder_create_form() %}
<form method="POST" action="{{ url_for('folders.create_folder') }}">
	<input type="text" name="name" autocomplete="off" class="form-control form-control-sm border-success" placeholder="New Folder">
</form>
{% endmacro %}

{% macro note_create_form(folder_) %}
<form method="POST" action="{{ url_for('notes.create_note', folder=folder_.name) }}">
	<input type="text" name="name" autocomplete="off" class="form-control form-control-sm border-success" placeholder="New Note">
</form>
{% endmacro %}
