{% extends "base.html" %}
{% import "macros.html" as macros with context %}
{% block body %}
<title>Settings</title>
<div>
	<form class="" method="POST" action="{{ url_for('settings') }}">
		{% for i in settings_.items() %}
		<div class="form-floating mb-1">
			<input id="{{ i[0] }}" autocomplete="off" class="form-control border-0" value="{{ i[1] }}" name="{{ i[0] }}">
			<label for="{{ i[0] }}">{{ i[0] }}</label>
		</div>
		{% endfor %}
		<button type="submit" class="btn btn-sm btn-outline-success mt-1">Save (Requires Restart)</button>
	</form>
</div>
{% endblock %}
