{% extends "base.html" %}
{% block body %}
<title>Folders</title>
<form method="POST" action="{{ url_for('add_folder') }}" class="input-group">
    <input autocomplete="off" class="input-custom" placeholder="name" name="new_folder">
    <button type="submit" class="btn-custom"><i class="bi bi-plus-lg"></i> new folder</button>
</form>
<div class="row mt-3">
    {% for i in folders_ %}
    <div class="card col-xl-4">
        <div class="card-body">
            <a class="h4 me-2" href="{{ url_for('folder_', dirname=i.name_) }}"><i class="bi bi-folder-fill"></i> {{ i.name_ }}</a>
            <span class="badge-custom">{{ i.get_notes() | length }}</span>
            <a onclick="toggleDiv('deleteFolder' + {{ loop.index }})" class="text-danger float-end"><i class="bi bi-trash2"></i></a>
            <a href="{{ url_for('delete_folder', dirname=i.name_) }}" class="text-danger font-custom float-end" id="deleteFolder{{ loop.index }}" style="display:none">delete?</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
