a, a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

body {
    background-color: #303030;
    color: white;
    
    margin-left: 200px;
    padding: 30px;
}

.form-control, .form-control:focus {
    background-color: inherit;
    color: inherit;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid;
}

.navbar-custom {
    border-right: 1px solid;
    width: 200px;
    padding: 30px;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
}

.CodeMirror, .editor-preview, .editor-toolbar {
    background-color: #303030 !important;
    color: white !important;
}

.fa {
    color: white !important;
}

.input-hidden {
    background-color: inherit;
    color: inherit;
    border: 0;
}

span.input-group-text {
    background-color: inherit;
    color: inherit;
    border: 0;
}