{% extends "base.html" %}
{% import "macros.html" as macros with context %}
{% block body %}
<title>{{ folder_.name }}</title>
<div class="d-flex">{{ macros.folder_rename_form(folder_) }}</div>
<div class="fst-italic text-muted small mb-3">
    <span><i class="bi bi-plus"></i> {{ timestamp(folder_.stat().st_birthtime).strftime('%-m/%-d/%y %-I:%M %p') }}</span>
</div>

<div id="newFile" style="display: none">{{ macros.file_create_form(folder_) }}</div>
<div id="newLink" style="display: none">{{ macros.link_save_form(folder_) }}</div>
<a class="btn btn-sm btn-outline-success" onclick="toggleDiv('newFile')"><i class="bi bi-filetype-md"></i> New File</a>
<a class="btn btn-sm btn-outline-success" onclick="toggleDiv('newLink')"><i class="bi bi-link-45deg"></i> New Link</a>
<a onclick="toggleDiv('delete')" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash3"></i> Delete</a>
<a id="delete" style="display: none;" href="{{ url_for('folders.delete_folder', path=folder_) }}" class="btn btn-sm text-danger">Delete?</a>
<div class="mt-3">
    {% for i in folder_.iterdir() %}
    {% if i.is_file() and '.md' in i.name %}
    {{ macros.file_card(i) }}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}