{% macro folder_card(folder_) %}
<div class="col-xl-12">
    <div class="mb-3">
        <a href="{{ url_for('folder', path=folder_) }}"><i class="bi bi-folder"></i> {{ folder_.name }}</a>
    </div>
</div>
{% endmacro %}

{% macro file_card(file_) %}
<div class="col-xl-12">
    <div class="mb-3">
        <a href="{{ url_for('file', path=file_) }}"><i class="bi bi-file"></i> {{ file_.name }}</a>
    </div>
</div>
{% endmacro %}

{% macro folder_create_form(parent) %}
<form class="input-group" method="POST" action="{{ url_for('create_folder', parent=parent) }}">
    <input placeholder="New Folder" autocomplete="off" name="name" class="form-control" required>
    <button type="submit" class="btn btn-outline-success"><i class="bi bi-plus-lg"></i></button>
</form>
{% endmacro %}

{% macro file_create_form(parent) %}
<form class="input-group" method="POST" action="{{ url_for('create_file', parent=parent) }}">
    <input placeholder="New File" autocomplete="off" name="name" class="form-control" required>
    <button type="submit" class="btn btn-outline-success"><i class="bi bi-plus-lg"></i></button>
</form>
{% endmacro %}

{% macro editor(file_) %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<form method="POST" action="{{ url_for('editor', path=file_) }}">
    <button class="btn btn-outline-success w-100 mb-3"><i class="bi bi-save"></i> Save</button>
    <textarea class="w-100 h-100" name="content">{{ file_.read_text() }}</textarea>
</form>

<script>
    const editor = new EasyMDE({
        placeholder: 'Content',
        autofocus: true
    }); 
</script>
{% endmacro %}
