@import "./colors.css";

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.btn {
  background-color: transparent;
  border-color: var(--btn-color);
  color: var(--btn-color);
  letter-spacing: 1px;
}

.btn:hover,
.btn.active {
  background-color: var(--btn-color);
  border-color: transparent;
  color: var(--btn-hover-text);
}

.view {
  height: 80% !important;
}

.border-end {
  border-color: var(--primary-txt) !important;
  border-right-style: dotted !important;
}

.form-control,
.form-control:focus {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
  border-color: var(--primary-txt);
  resize: none;
}

::placeholder {
  color: var(--primary-txt) !important;
  letter-spacing: 2px !important;
  opacity: 50% !important;
}

.between {
  display: flex;
  justify-content: space-between;
}

.item {
  cursor: pointer;
}

.selected {
  background-color: var(--btn-color);
  border-color: transparent;
  color: var(--btn-hover-text);
}

#reader code {
  font-family: monospace;
  color: var(--code-color);
}

#reader a {
  color: var(--btn-color);
  font-style: italic;
  text-decoration: underline;
}

#reader img {
  max-width: 100%;
}

/* #reader, */
#reader h1,
#reader h2,
#reader h3,
#reader h4,
#reader h5 {
  color: var(--heading-color);
}

.dropdown-menu,
.dropdown-item {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.dropdown-item:hover,
.selected2 {
  background-color: var(--btn-color);
  color: var(--btn-hover-text);
}

.dropdown-menu {
  border-color: var(--btn-color);
  font-size: small;
}

.dropdown-item {
  text-align: center;
}

textarea {
  border: 0 !important;
  font-style: italic;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.badge {
  font-weight: inherit;
  color: inherit;
  border: 1px solid;
  border-radius: 10px;
}

#save-sm {
  display: none;
}

@media screen and (max-width: 900px) {
  #reader,
  #notes-panel,
  #toolbar,
  #nav {
    display: none;
  }

  #save-sm {
    display: unset;
  }

  #editor-parent {
    width: 100% !important;
    border: none !important;
    /* padding: 0px 5px !important; */
  }

  .col-10 {
    width: 100% !important;
  }
}

.overflow-auto::-webkit-scrollbar,
#editor::-webkit-scrollbar {
  display: none;
}

.full {
  height: 100vh;
}
