:root,
html[data-theme="light"] {
  --primary-bg: #b0b0b0;
  --primary-txt: #1a1a1a;

  --btn-color: #423ab9;
  --btn-hover-text: #c5ccac;

  --code-color: #423ab9;
  --heading-color: #423ab9;
}

html[data-theme="dark"] {
  --primary-bg: #111121;
  --primary-txt: #e9efd2;

  --btn-color: #6a6cd9;
  --btn-hover-text: #1a1a1a;

  --code-color: #6a6cd9;
  --heading-color: #6a6cd9;
}
