:root,
html[data-theme="light"] {
  --primary-bg: #C5CCAC;
  --primary-txt: #1a1a1a;

  --btn-color: #2D5273;
  --btn-hover-text: #C5CCAC;

  --code-color: #066425;
  --heading-color: #3c4a55;
}

html[data-theme="dark"] {
  --primary-bg: #152533;
  --primary-txt: #E9EFD2;

  --btn-color: #E9EFD2;
  --btn-hover-text: #152533;

  --code-color: #51ba74;
  --heading-color: #738592;
}
