@import "./colors.css";

body {
  margin-left: 75px;
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.nav-custom {
  z-index: 100;
  position: absolute;
  padding: 1rem;
  width: 75px;
  top: 0;
  left: 0;
  height: 99vh;
  background-color: var(--primary-bg);
  border-right: 0.5px dotted var(--primary-txt);
  overflow-y: auto;
}

.main-panel {
  z-index: 100;
  position: absolute;
  padding: 0.25rem;
  width: 91%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: auto;
  height: 99vh;
  background-color: var(--primary-bg);
  border-right: 0.5px dotted var(--primary-txt);
  transition: opacity 0.3s;
  overflow-y: auto;
}

.settings-panel {
  z-index: 100;
  position: absolute;
  padding: 1rem;
  width: 30%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: auto;
  height: 99vh;
  background-color: var(--primary-bg);
  border-right: 0.5px dotted var(--primary-txt);
  transition: opacity 0.3s;
  overflow-y: auto;
}

.main-panel.show {
  opacity: 100%;
  visibility: unset;
}

.settings-panel.show {
  opacity: 100%;
  visibility: unset;
}

.nav-custom.maximized {
  width: 250px;
}

.bottom {
  bottom: 0;
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1rem;
}

.btn {
  background-color: transparent;
  border-color: var(--btn-color);
  color: var(--btn-color);
  letter-spacing: 1px;
}

.btn:hover,
.btn.active {
  background-color: var(--btn-color);
  border-color: transparent;
  color: var(--btn-hover-text);
}

.border-end {
  border-color: var(--btn-color) !important;
  border-right-style: dotted !important;
  border-width: 0.5px !important;
}

.form-control,
.form-control:focus {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
  border: 0;
  resize: none;
}

::placeholder {
  color: var(--primary-txt) !important;
  letter-spacing: 2px !important;
  opacity: 50% !important;
}

.between {
  display: flex;
  justify-content: space-between;
}

.item {
  cursor: pointer;
}

.selected {
  background-color: var(--btn-color);
  border-color: transparent;
  color: var(--btn-hover-text);
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--btn-color);
  font-weight: lighter;
  letter-spacing: 1px;
}

#reader code {
  font-family: monospace;
  color: var(--primary-txt);
}

#reader pre {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary-bg);
}

#reader a {
  color: var(--btn-color);
  font-style: italic;
  text-decoration: underline;
}

#reader img {
  max-width: 100%;
}

/* #reader, */
#reader h1,
#reader h2,
#reader h3,
#reader h4,
#reader h5 {
  font-weight: lighter;
  letter-spacing: 1px;
}

/* #reader, */
#reader mark {
  background-color: unset;
  color: var(--orange);
  font-weight: bold;
}

.dropdown-menu,
.dropdown-item {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-text);
}

.dropdown-item.active .btn,
.dropdown-item:hover .btn {
  color: var(--btn-hover-text);
}

.dropdown-menu {
  border-color: var(--btn-color);
  font-size: small;
}

textarea {
  border: 0 !important;
  font-style: italic;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.badge {
  font-weight: inherit;
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 10px;
}

#save-sm {
  display: none;
}

.toolbar {
  flex-wrap: wrap;
}

.red {
  color: var(--red);
  border-color: var(--red);
}

.btn.red:hover,
.btn.red.active {
  color: var(--btn-hover-text);
  background-color: var(--red);
  border-color: transparent;
}

.orange {
  color: var(--orange);
  border-color: var(--orange);
}

.btn.orange:hover,
.btn.orange.active {
  color: var(--btn-hover-text);
  background-color: var(--orange);
  border-color: transparent;
}

.green {
  color: var(--green);
  border-color: var(--green);
}

.btn.green:hover,
.btn.green.active {
  color: var(--btn-hover-text);
  background-color: var(--green);
  border-color: transparent;
}

.blue {
  color: var(--blue);
  border-color: var(--blue);
}

.btn.blue:hover,
.btn.blue.active {
  color: var(--btn-hover-text);
  background-color: var(--blue);
  border-color: transparent;
}

.green {
  color: var(--green);
  border-color: var(--green);
}

.btn.green:hover,
.btn.green.active {
  color: var(--btn-hover-text);
  background-color: var(--green);
  border-color: transparent;
}

.purple {
  color: var(--purple);
  border-color: var(--purple);
}

.btn.purple:hover,
.btn.purple.active {
  color: var(--btn-hover-text);
  background-color: var(--purple);
  border-color: transparent;
}

::-webkit-scrollbar {
  background-color: var(--primary-bg);
  width: 2px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
}

.item.selected > .between > .badge {
  color: var(--btn-hover-text);
  border-color: var(--btn-hover-text);
}

.item.selected .btn {
  color: var(--btn-hover-text);
  border-color: var(--btn-hover-text);
}

.col-2 {
  width: 20%;
}

.col-10 {
  width: 80%;
}

.col-5 {
  width: 40%;
}

.non-btn,
.non-btn:hover {
  cursor: unset;
  border: 0;
  background-color: transparent;
  color: inherit;
}

.dropdown-menu {
  max-height: 650px;
  overflow-y: auto;
}

.hover {
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-txt);
  padding: 10px;
  border-radius: 5px;
}
