@import "./colors.css";

* {
  font-family: "Roboto";
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.btn {
  font-size: 0.875rem;
  border-radius: 0px;
  background-color: transparent;
  color: var(--btn-color);
  border-top: none;
  border-bottom: 0.5px solid var(--btn-color);
  border-left: none;
  border-right: none;
  letter-spacing: 2px;
  padding-left: 14px;
  padding-right: 14px;
  line-height: 1.5;
  text-transform: unset;
  font-style: unset;
  font-weight: unset;
  margin: 1px;
}

.btn:hover,
.btn.active {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-txt);
  border-color: transparent;
  border-radius: 5px;
}

.form-control {
  outline: none;
  border-radius: 6px;
  background-color: var(--secondary-color);
  color: inherit;
  border: 0.5px none var(--primary-txt);
  padding: 4.5px 16px;
  font-style: unset;
  font-size: 0.875rem;
}

.form-control:focus {
  background-color: var(--secondary-color);
  color: inherit;
}

.title-input,
.title-input:focus {
  background-color: transparent;
  color: var(--primary-txt);
}

.title-input {
  border: 0;
  font-size: 2rem;
  font-style: italic;
}

.between {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1050px) {
  .body {
    padding: 20px 250px;
  }

  .top-nav {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .body {
    padding: 20px 20px;
  }

  .top-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99%;
    padding: 10px 15px;
    display: unset;
  }

  .mt-4 {
    margin-top: 0 !important;
  }

  #responsive-hide {
    display: none !important;
  }
}

.yellow {
  color: var(--yellow);
}

.red {
  color: #d05454;
}

.btn.yellow {
  color: var(--yellow);
  border-color: var(--yellow);
}

.btn.yellow:hover {
  background-color: var(--yellow);
  color: var(--btn-hover-txt);
}

.btn.red {
  color: #d05454;
  border-color: #d05454;
}

.btn.red:hover {
  background-color: #d05454;
  color: var(--btn-hover-txt);
}

.btn.green {
  color: #569256;
  border-color: #569256;
}

.btn.green:hover {
  background-color: #569256;
  color: var(--btn-hover-txt);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
}

.side-nav {
  transition: 0.5s transform;
  background-color: var(--primary-bg);
  height: 100%;
  border-right: 0.5px solid var(--primary-txt);
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  display: unset;
  padding: 10px;
  overflow-y: auto;
}

.side-nav.hidden {
  transform: translate(-350px);
}

.search-item {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid var(--secondary-color);
}

.note-item {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid var(--secondary-color);
}

.note-item.active {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-txt);
  border-radius: 5px;
  border-bottom: none;
}

.folder-item {
  padding: 3px 15px;
  cursor: pointer;
}

.folder-item.active {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-txt);
  border-radius: 5px;
}

.badge-custom {
  font-size: small;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  padding: 1px 10px;
  border-radius: 10px;
}

.note-item.active .badge-custom {
  color: var(--btn-hover-txt);
  border-color: var(--btn-hover-txt);
}

.folder-item.active .btn {
  color: var(--btn-hover-txt);
  border-color: var(--btn-hover-txt);
}

.folder-item.active .form-control {
  background-color: transparent;
}

.note-item.active .red {
  color: var(--btn-hover-txt);
}

.folder-item .btn {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.note-item.active .yellow {
  color: var(--btn-hover-txt);
}

#reader a {
  color: var(--btn-color);
  text-decoration: none;
  border-bottom: 1px solid var(--btn-color);
}

#reader code,
#reader pre {
  color: var(--code-color);
}

#reader mark {
  background-color: var(--highlight-color);
  border-radius: 5px;
  padding: 1px 5px;
  font-style: italic;
}

#reader h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}

#reader img {
  max-width: 100%;
}

.toolbar {
  overflow-x: auto;
  display: flex;
}

.dropdown-menu,
.dropdown-item {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.dropdown-menu {
  font-size: small;
  border-color: var(--primary-txt);
}

.dropdown-item:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-txt);
}

.dropdown-item {
  cursor: pointer;
}
