@import "./colors.css";

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.btn {
  background-color: transparent;
  color: var(--btn-color);
  border-color: var(--btn-color);
  letter-spacing: 1px;
}

.btn:hover,
.btn.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
  border-color: transparent;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.between {
  display: flex;
  justify-content: space-between;
}

.top-nav {
  height: 60px;
  border-bottom: 0.5px solid var(--secondary-color);
  padding: 10px;
  display: flex;
  z-index: 12;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--primary-bg);
}

.side-nav {
  margin-top: 60px;
  height: 91%;
  border-right: 0.5px solid var(--secondary-color);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  background-color: var(--primary-bg);
  transition: transform 0.5s;
}

.side-nav.minimized {
  transform: translate(-350px);
}

.dropdown-item,
.dropdown-menu {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.dropdown-menu {
  border-color: var(--btn-color);
  padding: 1px;
}

.dropdown-item {
  font-size: small;
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

body {
  margin-top: 60px;
}

.note-item {
  border-bottom: 0.5px solid var(--secondary-color);
  border-top: 0.5px solid var(--secondary-color);
  padding: 20px;
  cursor: pointer;
}

.note-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.folder-item {
  border-bottom: 0.5px solid var(--secondary-color);
  border-top: 0.5px solid var(--secondary-color);
  padding: 5px 20px;
  cursor: pointer;
}

.folder-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.border-bottom {
  border-bottom: 0.5px solid var(--secondary-color) !important;
}

.badge {
  font-weight: unset;
  border: 0.5px solid var(--btn-color);
  color: var(--btn-color);
  border-radius: 20px;
}

.note-item.active > * > .badge {
  border: 0.5px solid var(--btn-hover-txt);
  color: var(--btn-hover-txt);
}

.red {
  color: #9f4343;
}

.btn.red {
  border-color: #9f4343;
  color: #9f4343;
}

.btn.red:hover {
  border-color: transparent;
  color: var(--btn-hover-txt);
  background-color: #9f4343;
}

.orange {
  color: #c97f11;
}

.green {
  color: #336833;
}

.btn.green {
  border-color: #336833;
  color: #336833;
}

.btn.green:hover {
  border-color: transparent;
  color: var(--btn-hover-txt);
  background-color: #336833;
}

::-webkit-scrollbar {
  background-color: var(--primary-bg);
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
}

.form-control,
.form-control:focus {
  background-color: transparent;
  color: var(--primary-txt);
  border: 0.5px solid var(--secondary-color);
}

::placeholder {
  color: var(--primary-txt) !important;
  letter-spacing: 2px !important;
  opacity: 50% !important;
}

#reader a {
  color: var(--btn-color);
  text-decoration: underline;
  font-style: italic;
}

#reader pre {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  border-left: 0.5px solid var(--secondary-color);
  white-space: pre-wrap;
  font-size: small;
}

#reader code {
  color: var(--btn-color);
  font-style: italic;
}

#reader img {
  max-width: 100%;
}

#reader mark {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
  border-radius: 5px;
  font-size: small;
}
