@import "./colors.css";

* {
  font-family: "Roboto";
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.body {
  margin-left: 325px;
  padding: 10px;
}

.nav-y {
  background-color: var(--primary-bg);
  position: absolute;
  left: 0;
  z-index: 99;
  height: 99%;
  width: 325px;
  border-right: 0.5px solid var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  overflow: none;
}

.btn {
  background-color: transparent;
  color: var(--btn-color);
  border-color: var(--btn-color);
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  border-width: 0.5px;
}

.badge {
  font-weight: unset;
  letter-spacing: 1px;
  border: 0.5px solid var(--btn-color);
  color: var(--btn-color);
}

.btn:hover,
.btn.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.dropdown-menu,
.dropdown-item {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.dropdown-menu {
  border-color: var(--btn-color);
}

.dropdown-item {
  letter-spacing: 1.5px;
  font-size: 0.875rem;
}

.dropdown-item.active,
.dropdown-item:hover {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.between {
  display: flex;
  justify-content: space-between;
}

.form-control {
  border-width: 0.5px;
  font-size: 0.875rem;
}

.form-control,
.form-control:focus {
  background-color: transparent;
  color: var(--primary-txt);
  border-color: var(--primary-txt);
}

::placeholder {
  letter-spacing: 1.5px !important;
  color: var(--primary-txt) !important;
  opacity: 50% !important;
}

textarea {
  resize: none;
  border: 0 !important;
  height: 73vh;
}

.note-item {
  cursor: pointer;
  border-bottom: 0.5px solid var(--secondary-color);
  padding: 10px 15px;
  margin: 0px 2px;
}

.note-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
  border-radius: 5px;
  font-weight: bold;
}

.folder-item {
  cursor: pointer;
  padding: 0px 10px;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.folder-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
  border-radius: 5px;
}

.note-item.active .badge,
.dropdown-item.active .badge,
.dropdown-item:hover .badge {
  border-color: var(--btn-hover-txt);
  color: var(--btn-hover-txt);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
  cursor: pointer;
}

.divider-y {
  border: 0.5px solid var(--secondary-color);
  margin: 0px 10px;
}

.title-input {
  font-size: 2rem;
  border: 0;
}

.editor {
  height: 73vh;
}

.nav-x {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: 0.5px solid var(--secondary-color);
  display: none;
  padding: 10px;
}

.btn.green {
  color: rgb(66, 115, 66);
  border-color: rgb(66, 115, 66);
}

.btn.green:hover {
  background-color: rgb(66, 115, 66);
  color: var(--btn-hover-txt);
}

.btn.orange {
  color: rgb(255, 94, 0);
}

.btn.orange:hover {
  background-color: rgb(255, 94, 0);
  color: var(--btn-hover-txt);
}

.btn.red {
  color: rgb(240, 84, 45);
}

.btn.red:hover {
  background-color: rgb(240, 84, 45);
  color: var(--btn-hover-txt);
}

.icon:not(.active .icon) {
  color: var(--btn-color);
}

.dropdown-item:hover .icon {
  color: var(--btn-hover-txt);
}

#reader a {
  color: var(--btn-color);
  text-decoration: underline;
}

#reader code,
#reader pre {
  color: var(--btn-color);
}

#reader mark {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
  border-radius: 3px;
}

#reader img {
  max-width: 99%;
}

.toolbar {
  display: flex;
  overflow-x: auto;
}

.toolbar .btn {
  text-overflow: unset;
  font-size: 1.1rem;
}

::-webkit-slider-thumb {
  background-color: var(--btn-color) !important;
}

::-webkit-slider-runnable-track {
  background-color: transparent !important;
  border: 0.5px solid var(--btn-color) !important;
}

@media screen and (max-width: 1050px) {
  .body {
    margin-left: unset;
    margin-top: 60px;
  }

  .nav-y {
    display: none;
  }

  .nav-x {
    display: flex;
    justify-content: space-between;
  }

  .nav-x > div {
    margin-top: auto;
    margin-bottom: auto;
  }

  .editor {
    height: 65vh;
  }

  textarea {
    height: 65vh;
  }
}
