:root,
html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;

  --secondary-color: #c2c2c2;

  --btn-color: #2e5aa1;
  --btn-hover-bg: #ac2936;
  --btn-hover-txt: #dbdbdb;

  --code-color: #2c6c6f;
  --highlight-color: #c98200;
  --yellow: #d08e00;
}

html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-color: #212121;

  --btn-color: #598ee5;
  --btn-hover-bg: #a9343a;
  --btn-hover-txt: #e6e6e6;

  --code-color: #82999a;
  --highlight-color: #c78100;

  --yellow: #b57a2e;
}

html[data-theme="manila"] {
  --primary-bg: #ffe28c;
  --primary-txt: #1d1d1d;

  --secondary-color: #e2c97d;

  --btn-color: #3a3a73;
  --btn-hover-bg: #a9343a;
  --btn-hover-txt: #e6e6e6;

  --code-color: #39696c;
  --highlight-color: #91c7ab;

  --yellow: #9c6926;
}

html[data-theme="navy"] {
  --primary-bg: #161924;
  --primary-txt: #cccccc;

  --secondary-color: #1c212f;

  --btn-color: #9d849d;
  --btn-hover-bg: #582858;
  --btn-hover-txt: #e6e6e6;

  --code-color: #82999a;
  --highlight-color: #549f54;

  --yellow: #b57a2e;
}
