:root,
html[data-theme="light"] {
  --primary-bg: hsl(280 4 80);
  --primary-txt: #1a1a1a;

  --secondary-color: hsl(283, 4%, 69%);

  --btn-color: hsl(59 3 35);
  --btn-hover-txt: #cccccc;
}

html[data-theme="strawberry"] {
  --primary-bg: hsl(95 32 80);
  --primary-txt: #1a1a1a;

  --secondary-color: hsl(96, 17%, 67%);

  --btn-color: hsl(2 85 34);
  --btn-hover-txt: #cccccc;
}

html[data-theme="lavender"] {
  --primary-bg: hsl(225 62 80);
  --primary-txt: #1a1a1a;

  --secondary-color: hsl(225, 30%, 65%);

  --btn-color: hsl(273 37 36);
  --btn-hover-txt: #cccccc;
}

html[data-theme="raspberry"] {
  --primary-bg: hsl(191 29 80);
  --primary-txt: #1a1a1a;

  --secondary-color: hsl(192, 17%, 70%);

  --btn-color: hsl(315 46 34);
  --btn-hover-txt: #cccccc;
}

html[data-theme="sky"] {
  --primary-bg: hsl(10 13 80);
  --primary-txt: #1a1a1a;

  --secondary-color: hsl(13, 9%, 69%);

  --btn-color: hsl(232 44 36);
  --btn-hover-txt: #cccccc;
}

html[data-theme="sepia"] {
  --primary-bg: hsl(22 81 80);
  --primary-txt: #1a1a1a;

  --secondary-color: hsl(22, 54%, 72%);

  --btn-color: hsl(238 0 35);
  --btn-hover-txt: #cccccc;
}

html[data-theme="coconut"] {
  --primary-bg: hsl(310 6 80);
  --primary-txt: #1a1a1a;

  --secondary-color: hsl(309, 4%, 66%);

  --btn-color: hsl(21 38 21);
  --btn-hover-txt: #cccccc;
}

html[data-theme="jade"] {
  --primary-bg: hsl(47 6 80);
  --primary-txt: #1a1a1a;

  --secondary-color: hsl(43, 5%, 72%);

  --btn-color: hsl(155, 80%, 29%);
  --btn-hover-txt: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg: hsl(178 5 10);
  --primary-txt: #cccccc;

  --secondary-color: hsl(180, 5%, 16%);

  --btn-color: hsl(227 22 63);
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="plum"] {
  --primary-bg: hsl(163 15 10);
  --primary-txt: #cccccc;

  --secondary-color: hsl(164, 14%, 15%);

  --btn-color: hsl(262, 47%, 61%);
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="walnut"] {
  --primary-bg: hsl(102 26 10);
  --primary-txt: #cccccc;

  --secondary-color: hsl(102, 25%, 13%);

  --btn-color: hsl(34 53 42);
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="aqua"] {
  --primary-bg: hsl(324 13 10);
  --primary-txt: #cccccc;

  --secondary-color: hsl(327, 14%, 15%);

  --btn-color: hsl(162 84 50);
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="olive"] {
  --primary-bg: hsl(284 3 10);
  --primary-txt: #cccccc;

  --secondary-color: hsl(300, 1%, 14%);

  --btn-color: hsl(66 43 45);
  --btn-hover-txt: #1a1a1a;
}
