:root,
html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-color: #3d3d3d;

  --btn-color: #7184db;
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;

  --secondary-color: #771818;

  --btn-color: #20204f;
  --btn-hover-txt: #cccccc;
}

html[data-theme="manila"] {
  --primary-bg: #ffe499;
  --primary-txt: #1a1a1a;

  --secondary-color: #bba76f;

  --btn-color: #1a1a1a;
  --btn-hover-txt: #ffe499;
}

html[data-theme="plum"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-color: #3d3d3d;

  --btn-color: #a585e0;
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="mint"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-color: #3d3d3d;

  --btn-color: #82e395;
  --btn-hover-txt: #1a1a1a;
}
