:root,
html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;

  --secondary-bg: #c1c1c1;

  --btn-color: #313030;
  --btn-hover-text: #cccccc;

  --red: #ac4141;
  --orange: #e28513;
  --green: #4f7d4f;
  --blue: #5151ff;
  --purple: #6e346e;

  --code-color: #313030;
  --heading-color: #313030;
}

html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-bg: #202020;

  --btn-color: #bdbdbd;
  --btn-hover-text: #1a1a1a;

  --red: #de5858;
  --orange: #d68b00;
  --green: #72a172;
  --blue: #5f5fd6;
  --purple: #b882b8;

  --code-color: #cccccc;
  --heading-color: #cccccc;
}
