:root, html[data-theme="dark"] {
    --primary-bg: #1a1a1a;
    --primary-txt: white;
}

html[data-theme="light"] {
    --primary-bg: #C6CFD2;
    --primary-txt: #1a1a1a;
}

html[data-theme="sepia"] {
    --primary-bg: #FFDAAD;
    --primary-txt: #3D2300;
}

html[data-theme="sepia-dark"] {
    --primary-bg: #3D2300;
    --primary-txt: #FFDAAD;
}

html[data-theme="charcoal"] {
    --primary-bg: #3E3E3D;
    --primary-txt: #C6CFD2;
}

a, a:hover, .dropdown-item {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

body, nav, .dropdown-menu, .modal-content {
    background-color: var(--primary-bg);
    color: var(--primary-txt);
}

body {
    margin-left: 250px;
    padding: 30px;
}

.form-control, .form-control:focus {
    background-color: inherit;
    color: inherit;
    border: 1px solid;
}

.navbar-custom {
    border-right: 1px solid var(--primary-txt);
    width: 250px;
    padding: 30px;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
}

.input-hidden {
    background-color: inherit;
    color: inherit;
    border: 0;
}

span.input-group-text {
    background-color: inherit;
    color: inherit;
    border: 0;
}

.badge {
    background-color: var(--primary-txt);
    color: var(--primary-bg);
    font-size: 0.7em;
    margin: 0px;
}

.content-div a {
    border-bottom: 1px solid;
    font-style: italic;
}

.content-div a:hover {
    font-weight: bold;
}
